<div [hidden]="submitted || predicted">
  <form [formGroup]="predictForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="output">Output type</label>
      <select class="form-control" id="output" formControlName="output">
        <option *ngFor="let out of outputs" [value]="out">{{out}}</option>
      </select>
      <input class="form-control" type="file" formControlName="file" (change)="onImageChange($event)">
    </div>
    <div>
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>

<div [hidden]="predicted || !submitted">
  <h2>You submitted the following:</h2>
  <div class="row">
    <div class="col-xs-3">Output option</div>
    <div class="col-xs-9">{{ predictForm.value.output }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">File</div>
    <div class="col-xs-9">{{ predictForm.value.file }}</div>
  </div>
  <br>
  <button class="btn btn-secondary" (click)="submitted=false">Edit</button>
  <button class="btn btn-primary" (click)="apiRequest()">Predict</button>
</div>

<div [hidden]="!predicted">
  <h2>{{"Api results" | uppercase}}</h2>

  <div><span>image name: </span>{{result.img_name}}</div>
  <div><span>people count: </span>{{result.count}}</div>
  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Frame Column -->
      <ng-container matColumnDef="video_frame">
        <th mat-header-cell *matHeaderCellDef> Frame </th>
        <td mat-cell *matCellDef="let element"> {{element.video_frame}} </td>
      </ng-container>

      <!-- Count Column -->
      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef> Count </th>
        <td mat-cell *matCellDef="let element"> {{element.count}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div>
    <mat-card class="image-card" [class.mat-elevation-z2]>
      <mat-card-header>
        <mat-card-title>Original Image</mat-card-title>
        <mat-card-subtitle>that you've submitted</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src='{{originalImage}}'>
    </mat-card>

    <mat-card class="heatmap-card" [class.mat-elevation-z2]>
      <mat-card-header>
        <mat-card-title>People heatmap</mat-card-title>
        <mat-card-subtitle>predicted by our model</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src='{{result.image}}' alt = "predicted people heatmap">
    </mat-card>
  </div>

  <div>
    <mat-card class="image-card" [class.mat-elevation-z2]>
      <mat-card-header>
        <mat-card-title>Original Image</mat-card-title>
        <mat-card-subtitle>that you've submitted</mat-card-subtitle>
      </mat-card-header>
      <video width="320" height="240" autoplay>
        <source src='{{originalImage}}' type="video/mp4">
      </video>
    </mat-card>

    <mat-card class="heatmap-card" [class.mat-elevation-z2]>
      <mat-card-header>
        <mat-card-title>People heatmap</mat-card-title>
        <mat-card-subtitle>predicted by our model</mat-card-subtitle>
      </mat-card-header>
      <vg-player>
        <vg-overlay-play></vg-overlay-play>
        <vg-buffering></vg-buffering>

        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-controls>
          <vg-play-pause></vg-play-pause>
          <vg-playback-button></vg-playback-button>

          <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

          <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

          <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
          <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

          <vg-track-selector></vg-track-selector>
          <vg-mute></vg-mute>
          <vg-volume></vg-volume>

          <vg-fullscreen></vg-fullscreen>
        </vg-controls>

        <video [vgMedia]="$any(media)" #media id="singleVideo" [src] = "imageToShow">
        </video>
      </vg-player>
    </mat-card>






  </div>
</div>
