/* DashboardComponent's private CSS styles */

h2 {
  text-align: center;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.inline-block {
  display: inline-block;
}

.mat-card {
  max-width: 400px;
  float: left;
}

.mat-card-title {
  font-size: large;
  font-weight: bold;
}

.example-header-image {
  background-size: cover;
}
