<div [hidden]="predicted">

  <mat-card class="form-card" [class.mat-elevation-z2]>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img mat-card-avatar src='assets/logo.png'>
      </div>
      <mat-card-title>People Predict Form</mat-card-title>
      <mat-card-subtitle>of Drone Crowd-counting api</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <form (ngSubmit)="onSubmit()">

        <label for="file-upload" class="custom-file-upload">
          Custom Upload
        </label>
        <input id="file-upload" class="form-control" type="file" (change)="onImageChange($event)">

        <mat-button-toggle-group [(value)]="output" aria-label="Output type" class="mat-button-toggle-group mat-button-toggle-group-appearance-standard">
          <mat-button-toggle *ngFor="let out of outputs" [value]='out' class="mat-button-toggle mat-button-toggle-appearance-standard">{{out}}</mat-button-toggle>
        </mat-button-toggle-group>

        <div>
          <button mat-raised-button type="submit" class="submit">Submit</button>
        </div>
      </form>

    </mat-card-content>

  </mat-card>

</div>
