@use '../node_modules/@angular/material/theming' as mat;
@include mat.core();


$my-app-primary: mat.define-palette($mat-indigo);
$my-app-accent:  mat.define-palette($mat-red);
$my-app-warn:    mat.define-palette($mat-deep-orange);
$my-theme: mat.define-light-theme((
 color: (
   primary: $my-app-primary,
   accent: $my-app-accent,
   warn: $my-app-warn,
 )
));
@include mat.all-component-themes($my-app-theme);

